{% extends "archive-default.twig" %}
{% block source %}archive-news.twig{% endblock %}
{% block title %}Campus News{% endblock %}
{% block description %}Our campus is a beehive of activity, and great things are happening here every day. Here are some of the most newsworthy items!{% endblock %}

{% block postfilter %}
<ul class="col-md-6 offset-md-3">
	{% for post in posts if post.parent==0 %}
	<li class="list-group-item d-flex justify-content-between align-items-center">
		<a href="{{post.url}}">		
			<h4>{{post.title}}</h4>{%if post.thumbnail %}<span class="badge"><img class="img-fluid" src="{{post.thumbnail}}" /></span>{% endif %}
			{% if post.post_excerpt %}<em>"{{post.post_excerpt}}" ({{post.article_date|date("M d, Y")}})</em>{% endif %}
			
		</a>
	</li>	
	{% endfor %}
</ul>
{% endblock %}