<header class="">
	<nav class="navbar navbar-expand-md navbar-light bg-light" role="navigation">
		<a class="navbar-brand logo" href="{{ bloginfo('url') }}/">
			<img class="img-fluid" src="{{ function("header_image") }}" alt="The Summit">
		</a>
		<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#collapser"><i class="fas fa-bars"></i></button>
		<div class="collapse navbar-collapse" id="collapser">
			<div class="nav navbar-nav ml-md-auto d-md-flex">
			{% for item in menu.items %}
				{% if item.get_children %}
					<span class="nav-item dropdown px-2">
						<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{item.title}}</a>
						<div class="dropdown-menu dropdown-menu-right">
							{% for child in item.get_children %}
								<div class="dropdown-item">
									<a class="nav-link" href="{{child.get_path}}">
										{% if child.attr_title %}<h5>{% endif %}
											{{child.title}}
										{% if child.attr_title %}<br/><small>{{child.attr_title}}</small></h5>{% endif %}
									</a>
									{%for grandchild in child.get_children%}
										<a class="nav-link py-0 pl-3 text-primary" href="{{grandchild.get_path}}">{{grandchild.title}}</a>
									{% endfor %}
								</div>
							{% endfor %}
						</div>
					</span>
				{% else %}
					<a href="{{item.link}}" class="nav-link nav-item px-2">{{item.title}}</a>
				{% endif %}
			{% endfor %}
			<div class="dropdown-divider d-md-none"></div>
			<a target="_blank" href="https://twitter.com/TheSummit_FW" class="nav-link nav-item"><i class="fab fa-twitter"></i></a>
			<a target="_blank" href="https://www.facebook.com/TheSummitFW" class="nav-link nav-item"><i class="fab fa-facebook"></i></a>			
			</div>
		</div>
	</nav>
</header>