<section id="{{post.post_name}}" class="full-panel row">
	<div class="caption col-12">
		<div class="row">
		{%set width=12 %}
		{%for chi in post.children if chi.post_type==post.post_type %}
			{%if loop.index0==0 %}
				{%set width=8 %}
				<a href="{{post.link}}#{{chi.post_name}}" class="btn btn-primary btn-lg pull-right" style="margin-top: 28px;">
					Explore <i class="fas fa-caret-right"></i>
				</a>
			{% endif %}
		{%endfor%}
		{% if post.action_link %}
			{%set width=8 %}
			<a href="{{post.action_link}}" class="btn btn-primary btn-lg pull-right" style="margin-top: 28px;">
				{{ post.action_text }} <i class="fas fa-caret-right"></i>
			</a>	
		{% endif %}
		<h3 class="col-{{width}} ">{{post.title}}</h3>
		</div>
		{% if post.about %}
			{{ post.about|wpautop }}
		{% elseif post.content %}
			{{ post.content|wpautop }}
		{% endif %}
	</div>
</section>